<!DOCTYPE html>
<html>
  <head>
    <title>찬송가 <%=seq%> 장</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <div align="center"><h1>찬송가 <%= seq %> 장</h1></div>
    <br>
    <div>
      <img style="height:100%; width:100%;" src="/asset/hymns<%=seq%>.jpg"/> 
    </div>
  </body>
</html>
